<mat-toolbar>
    <span> KWL </span>
    <span class="navlinks">
        <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        <a routerLink="/explore" routerLinkActive="active" ariaCurrentWhenActive="page">Explore</a>
        <a routerLink="/watchlist" routerLinkActive="active" ariaCurrentWhenActive="page">WatchList</a>
    </span>
    <span>
        <a routerLinkActive="active-link" routerLink="/profile" class="profileacc">
            <span class="material-symbols-outlined"> account_circle </span>
        </a>
    </span>
</mat-toolbar>