.home-component{
    height: 100%;
    width: 90%;
}

#cornerAction {
    position: fixed;
    bottom: 0;
    right: 0;
}
app-dashboard {
    z-index: 2;
    position: relative;
}
app-content-view {
    z-index: 1;
    position: relative;
}