mat-toolbar {
    display: flex;
    justify-content: space-between;
    padding: 0;
    height: fit-content;
    background-color: var(--theme-color2);
    color: var(--theme-white);

    a {
        text-decoration: none;
        color: var(--theme-white);

    }
    a.active {
        color: var(--theme-color4);
        border: 1px solid var(--theme-color2);
    }
    .navlinks {
        a {
            padding: 0 16px;
        }
    }

    .profileacc {
        display: flex;
        align-items: center;
    }
    span {
        display: flex;
        align-items: center;
    }
}

button {
    width: 100px;
    height: 32px;
    font-size: 16px;
    color: var(--theme-white);
    background-color: transparent;
    border: 1px solid var(--theme-white);
    border-radius: 0  16px 0 16px;
    transition: 0.3s ease-in-out;
    padding: 4px 12px;

    &:hover {
        font-weight: bolder;
        background-color: white;
        color: var(--theme-color1);
    }
}

.dashboard-component {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: var(--theme-color2);
    color: var(--theme-color2);
    padding: 8px 0 8px 8px;

    .category {
        width: 40%;
        display: flex;
        justify-content: space-evenly;
    }
}

.formDiv {
    display: flex;
    align-items: center;
}

#formGroup {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;

    select,
    select.ng-valid {
        background-color: transparent;
        color: var(--theme-white);
        height: 24px;
        padding: 0;
        font-weight: bold;
        border: 0;
        direction: rtl;
        text-align: right;
        width: min-content;

        option {
            background-color: var(--theme-color2);
        }
    }

    input {
        box-sizing: border-box;
        padding: 0 5px;
        height: 24px;
        width: 320px;
        border: 1px solid transparent;
        margin: 0 0 0 4px;

        &.ng-invalid.ng-touched {
            border: 1px solid red;
        }
    }

    .material-symbols-outlined {
        padding: 0 8px;
        transition: transform .5s ease-in-out;

        &::hover {
            transform: scale(1.2);
            background-color: aqua;
        }
    }

    .input {
        position: relative;

        
        #validationMsg {
            position: absolute;
            padding: 0 8px;
            font-size: 12px;
            color: red;
            right: 2px;
            top:2px;
        }
        
    }
}

.showData {
    border-top: 0;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 0 0 0 16px;
    display: flex;
    width: 480px;
    padding: 4px;
    margin-left: auto;
    height: fit-content;
    box-sizing: border-box;
    background-color: black;
    color: white;

    #firstCol {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            border: 1px solid var(--theme-color2);
            max-width: 95%;
            max-height: 95%;
            /* margin: 0 12px; */
        }
    }

    #verticalLine {
        border-left: 1px solid var(--theme-color1);
    }

    #secondCol {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 50%;

        p {
            font-size: 20px;
            text-align: center;
            font-size: 24px;
            font-weight: 700;
            margin: 0;
        }

        font-size: 16px;

        table {
            /* margin: 0;
            padding: 0; */
            width: 95%;

            td {
                padding-top: 2px 0;
                text-wrap: nowrap;
                width: 80px;
            }

            td:first-child {
                width: 50%;
                font-weight: bold;
            }
            td:nth-child(2) {
                text-align: right;
            }

            #genre {
                font-weight: normal;

                span {
                    text-align: right;
                }
            }
        }

        #addButton {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
        }
        
        .dbButt {
            width: 120px;
            color: var(--theme-color2);
            border: 1px solid var(--theme-color2);
            margin-top: 5px;

            &:hover {
                font-weight: bolder;
                background-color: var(--theme-color2);
                color: var(--theme-color1);
            }
        }
    }
}