<div class="login-container">
    <div *ngIf="isLogin" class="loginForm">
        <h2>Login</h2>
        <form (ngSubmit)="onSubmitLogin()" [formGroup]="loginForm">
            <mat-form-field>
                <mat-label>Email:</mat-label>
                <input matInput type="email" formControlName="email">
                <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email is required</mat-error>
                <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Invalid email format</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Password:</mat-label>
                <input matInput type="password" formControlName="password">
                <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
                <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">Password must be at least
                    characters</mat-error>
            </mat-form-field>

            <div class="buttons">
                <button type="button" (click)="toggleMode()" mat-raised-button>Sign Up</button>
                <button type="submit" [disabled]="loginForm.invalid" mat-raised-button><span>Login</span></button>
            </div>
        </form>
    </div>

    <div *ngIf="!isLogin" class="signupForm">
        <h2>Sign Up</h2>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmitSignup()">
            <mat-form-field>
                <mat-label>Full Name</mat-label>
                <input matInput placeholder="Ex. Jon" formControlName="name">
                <mat-error *ngIf="signupForm.get('name')?.hasError('required')">Name is required</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput placeholder="johndoe@gmail.com" formControlName="email">
                <mat-error *ngIf="signupForm.get('email')?.hasError('required')">Email is required</mat-error>
                <mat-error *ngIf="signupForm.get('email')?.hasError('email')">Invalid email format</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
                <mat-error *ngIf="signupForm.get('password')?.hasError('required')">Password is required</mat-error>
                <mat-error *ngIf="signupForm.get('password')?.hasError('minlength')">Password must be at least 7
                    characters</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Confirm Password:</mat-label>
                <input matInput type="password" formControlName="cpassword">
                <mat-error
                    *ngIf="signupForm.get('cpassword')?.hasError('passwordMismatch') && signupForm.get('cpassword')?.touched">
                    Passwords do not match
                </mat-error>
            </mat-form-field>

            <div class="buttons">
                <button type="button" (click)="toggleMode()" mat-raised-button>Go Back</button>
                <button type="submit" [disabled]="signupForm.invalid" mat-raised-button><span>Sign Up</span></button>
            </div>
        </form>
    </div>
</div>