/* You can add global styles to this file, and also import other style files */
:root {
    --theme-color1: #000000;
    --theme-color2: #030f28;
    --theme-color3: #00476d;
    --theme-color4: #cc5500;
    --theme-color5: #ab0000;
    --theme-white: #ffffff;
}

html,
body {
    height: 100%;
    background-color: var(--theme-color1);
    color: var(--theme-white);
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    width: 100%;
    margin: auto;
}

app-root {
    height: 100%;
}